$background-color: #202020;
$background-color-light: #282828;
$background-color-dark: #303030;

$color-primary: #7e018a;
$color-primary-dark: #630785;

$line-color: #e0e0e0;
$line-color-light: #a0a0a0;

$link-color: #f2c1bd;
$link-color-visited: #d9a7b8;
