$max-document-width: 1600px;
$fonts: 'Nunito', sans-serif;
$font-size: 1.5rem;

$background-color: white;
$background-color-light: #f8f8f8;
$background-color-dark: #f0f0f0;

$color-primary: #b4dbc0;
$color-primary-dark: #86b58b;

$line-color: #202020;
$line-color-light: #808080;

$link-color: #0a4502;
$link-color-visited: #2a7303;
