<div style="display: flex; flex-direction: column; justify-content: center;">
  {{ form.non_field_errors }}

  <form method="POST" style="margin: auto;" class="login-form">
    {% csrf_token %}
    {% for field in form %}
    <div>
      {{ field.label_tag }} {{ field }}
      {% if field.errors %}
      <div class="field-errors">
        <b>Errors:</b>
        {{ field.errors }}
      </div>
      {% endif %}
      {% if field.help_text %}
      <p class="help">
        {{ field.help_text|safe }}
      </p>
      {% endif %}
    </div>
    {% endfor %}
    <input class="button" type="submit" value="Submit">
  </form>
</div>
